@model do_an_web.Models.Homemol
@using do_an_web.Models
@using PagedList.Mvc
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* CSS cho container chính */
    .containera {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Khoảng cách giữa các div */
    }

    .item {
        flex: 1 1 calc(25% - 20px); /* 25% chiều rộng mỗi khối trừ đi khoảng cách */
        max-width: calc(25% - 20px);
        box-sizing: border-box;
    }

    .anh-hoa {
        width: 100%;
        height: auto;
        display: block;
    }

    .ok1 p {
        text-align: center;
        font-size: 18px;
        margin: 5px 0;
    }

    .danh-gia-5-sao {
        text-align: center;
        font-weight: bold;
    }
</style>
<link href="~/Css/pagelisst.css" rel="stylesheet" />
<link href="~/Content/huymanh.css" rel="stylesheet" />
<div style="margin:20px">
    @using (Html.BeginForm("ProductList", "Products", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    Tên Sản phẩm : <input type="text" name="SearchString" />
                    <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                </td>
                <td>
                    Đơn giá từ : <input type="number" name="min" />
                    --đến : <input type="number" name="max" />
                    <input type="submit" value="Tìm giá" class="btn btn-warning" />
                </td>
            </tr>
        </table>
    }
</div>
<div class="containeraa">
    @foreach (var item in Model.ListProduct1)
    {
        <div class="item">
            <div class="ok1">
                <a href="@Url.Action("Details", "Products", new { id = item.product_id })">
                    @if (item.images != null)
                    {
                        var base64String = Convert.ToBase64String(item.images);
                        <img aria-label="@item.product_name" class="anh-hoa" src="data:image/png;base64,@base64String" />
                    }
                    <p>@item.product_name</p>
                </a>
                <div class="danh-gia-5-sao">
                    <p>@item.price ₫</p>
                </div>
            </div>
        </div>
    }
</div>

<!-- Phân trang -->
<div class="pagination">
    @Html.PagedListPager(Model.ListProduct1, page => Url.Action("ProductList", new { page = page }))
</div>

